<%- include('./partials/header') %>
  <div id="content" class="landing">
    <h1>Welcome! <%= user.name %> </h1>
    <ul>
      <li><%= user.email %> </li>
    </ul>
    <a href="/villagers" class="button">Find the villagers</a>
  </div>
    
    <%- include('./partials/footer') %>
