<%- include('../partials/header') %>

      <a href="/villagers/Anteater">Anteaters</a>
      <a href="/villagers/Bear">Bears</a>
      <a href="/villagers/Bird">Birds</a>
      <a href="/villagers/Bull">Bulls</a>
      <a href="/villagers/Cat">Cats</a>
      <a href="/villagers/Cub">Cubs</a>
      <a href="/villagers/Chicken">Chicken</a>
      <a href="/villagers/Cow">Cows</a>
      <a href="/villagers/Alligator">Alligators</a>
      <a href="/villagers/Deer">Deer</a>
      <a href="/villagers/Dog">Dogs</a>
      <a href="/villagers/Duck">Ducks</a>
      <a href="/villagers/Elephant">Elephants</a>
      <a href="/villagers/Frog">Frogs</a>
      <a href="/villagers/Goat">Goats</a>
      <a href="/villagers/Gorilla">Gorillas</a>
      <a href="/villagers/Hamster">Hamsters</a>
      <a href="/villagers/Hippo">Hippos</a>
      <a href="/villagers/Horse">Horses</a>
      <a href="/villagers/Koala">Koalas</a>
      <a href="/villagers/Kangaroo">Kangaroos</a>
      <a href="/villagers/Lion">Lions</a>
      <a href="/villagers/Monkey">Monkeys</a>
      <a href="/villagers/Mouse">Mice</a>
      <a href="/villagers/Octopus">Octopuses</a>
      <a href="/villagers/Ostrich">Ostriches</a>
      <a href="/villagers/Eagle">Eagles</a>
      <a href="/villagers/Penguin">Penguins</a>
      <a href="/villagers/Pig">Pigs</a>
      <a href="/villagers/Rabbit">Rabbits</a>
      <a href="/villagers/Rhino">Rhinos</a>
      <a href="/villagers/Sheep">Sheep</a>
      <a href="/villagers/Squirrel">Squirrels</a>
      <a href="/villagers/Tiger">Tigers</a>
      <a href="/villagers/Wolf">Wolves</a>


<%- include('../partials/header') %>