<%- include('../partials/header') %>
      
      <a href="/villagers/Alligator"><img src="/images/Alligator.png">Alligators</a>
      <a href="/villagers/Anteater"><img src="/images/Anteater.png">Anteaters</a>
      <a href="/villagers/Bear"><img src="/images/Bear.png">Bears</a>
      <a href="/villagers/Bird"><img src="/images/Bird.png">Birds</a>
      <a href="/villagers/Bull"><img src="/images/Bull:Cow.png">Bulls</a>
      <a href="/villagers/Cat"><img src="/images/Cat.png">Cats</a>
      <a href="/villagers/Cub"><img src="/images/Bear_cub.png">Cubs</a>
      <a href="/villagers/Chicken"><img src="/images/Chicken.png">Chicken</a>
      <a href="/villagers/Cow"><img src="/images/Bull:Cow.png">Cows</a>
      <a href="/villagers/Deer"><img src="/images/Deer.png">Deer</a>
      <a href="/villagers/Dog"><img src="/images/Dog.png">Dogs</a>
      <a href="/villagers/Duck"><img src="/images/Duck.png">Ducks</a>
      <a href="/villagers/Eagle"><img src="/images/Eagle.png">Eagles</a>
      <a href="/villagers/Elephant"><img src="/images/Elephant.png">Elephants</a>
      <a href="/villagers/Frog"><img src="/images/Frog.png">Frogs</a>
      <a href="/villagers/Goat"><img src="/images/Goat.png">Goats</a>
      <a href="/villagers/Gorilla"><img src="/images/Gorilla.png">Gorillas</a>
      <a href="/villagers/Hamster"><img src="/images/Hamster.png">Hamsters</a>
      <a href="/villagers/Hippo"><img src="/images/Hippo.png">Hippos</a>
      <a href="/villagers/Horse"><img src="/images/Horse.png">Horses</a>
      <a href="/villagers/Kangaroo"><img src="/images/Kangaroo.png">Kangaroos</a>
      <a href="/villagers/Koala"><img src="/images/Koala.png">Koalas</a>
      <a href="/villagers/Lion"><img src="/images/Lion.png">Lions</a>
      <a href="/villagers/Monkey"><img src="/images/Monkey.png">Monkeys</a>
      <a href="/villagers/Mouse"><img src="/images/Mouse.png">Mice</a>
      <a href="/villagers/Octopus"><img src="/images/Octopus.png">Octopuses</a>
      <a href="/villagers/Ostrich"><img src="/images/Ostrich.png">Ostriches</a>
      <a href="/villagers/Penguin"><img src="/images/Penguin.png">Penguins</a>
      <a href="/villagers/Pig"><img src="/images/Pig.png">Pigs</a>
      <a href="/villagers/Rabbit"><img src="/images/Rabbit.png">Rabbits</a>
      <a href="/villagers/Rhino"><img src="/images/Rhinoceros.png">Rhinos</a>
      <a href="/villagers/Sheep"><img src="/images/Sheep.png">Sheep</a>
      <a href="/villagers/Squirrel"><img src="/images/Squirrel.png">Squirrels</a>
      <a href="/villagers/Tiger"><img src="/images/Tiger.png">Tigers</a>
      <a href="/villagers/Wolf"><img src="/images/Wolf.png">Wolves</a>


<%- include('../partials/footer') %>